// sidebar
$menuText:#000000;
$menuActiveText:#0481ff;
$subMenuActiveText:#409EFF;

$menuBg:#f6f6f6;
$menuHover:#96cafc;

$subMenuBg:#eeeeee;
$subMenuHover:#96cafc;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
